$font-primary: 'Montserrat', Arial, sans-serif;
$font-secondary: 'Playfair Display', serif;


// Overrides
$grid-gutter-width: 40px !default; 
$border-radius-base:  4px !default;
$padding-base-vertical: 14px !default;

$brand-primary: #d1c286 !default;
$brand-secondary: #a9974e !default; 

$brand-white: #fff;
$brand-black: #000;
$brand-darker: #444;
$brand-gray: #ccc;
$brand-lighter: #e9e9e9;
$brand-body-color: #818892;
$brand-selection-color: #f9f6f0;
$brand-overlay-color: #3b3d40;
$brand-bg-color: $brand-white;

$input-border-focus:  $brand-primary !default;
$form-group-margin-bottom:       30px !default;



// Mixin
@mixin translateX($translatex) {
	-moz-transform: translateX($translatex);
	-webkit-transform: translateX($translatex);
	-ms-transform: translateX($translatex);
	-o-transform: translateX($translatex);
	transform: translateX($translatex);
}
@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: 		all $transition ease;
    transition:         all $transition ease;
}
@mixin inline-block() {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin flex() {
	display: -webkit-box;      
  	display: -moz-box;         
  	display: -ms-flexbox;      
  	display: -webkit-flex;     
  	display: flex;             
}
@mixin flexwrap() {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap; 
	-moz-flex-wrap: wrap; 
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?srf3rx');
	src:url('../fonts/icomoon/icomoon.eot?srf3rx#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.ttf?srf3rx') format('truetype'),
		url('../fonts/icomoon/icomoon.woff?srf3rx') format('woff'),
		url('../fonts/icomoon/icomoon.svg?srf3rx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin icomoon() {
	
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}

// Import 
@import 'bootstrap/mixins';
@import 'bootstrap/variables';




/* =======================================================
*
* 	Template Style 
*
* ======================================================= */

body {
	font-family: $font-secondary;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #828282;
	background: #fff;
}
#page {
	position: relative;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	@include transition(.5s);
	.offcanvas & {
		overflow: hidden;	
		position: absolute;
		
		&:after {
			@include transition(2s);
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 101;
			background: rgba(0,0,0,.7);
			content: "";
		}
	}
}
a {
	color: $brand-primary;
	@include transition(.5s);
	&:hover, &:active, &:focus {
		color: $brand-primary;
		outline: none;
		text-decoration: none;
	}
}
p {
	margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
	color: $brand-black;
	font-family: $font-primary;
	font-weight: 400;
	margin: 0 0 20px 0;
}
::-webkit-selection {
  color: $brand-white;
  background: $brand-primary;
}

::-moz-selection {
  color: $brand-white;
  background: $brand-primary;
}
::selection {
  color: $brand-white;
  background: $brand-primary;
}

.nav {
	padding: 18px 0;
	background: $brand-white;
	@media screen and (max-width: $screen-sm) {
		padding: 20px 0;
	}
	#logo {
		font-size: 20px;
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		font-weight: bold;
		font-family: $font-primary;
	}
	a {
		padding: 5px 10px;
		color: $brand-black;
	}
	.menu-1, .menu-2 {
		@media screen and (max-width: $screen-sm ) {
			display: none;
		}
	}
	.menu-2{
		li{
			&.search{
				float: left;
				width: 83%;
				font-family: $font-secondary;
				@include transition(.3s);
				padding: 0;
				margin: -5px 0 0 0;

			}
			input[type=text]{
				padding: 6px 10px;
				width: 40%;
				// border: 1px solid rgba($brand-black,.1);
				border: none;
				float: right;
				font-size: 13px;
				margin-top: 4px;
				@include transition(.3s);
				&:focus{
					width: 100%;
					outline: none;
					border-bottom: 1px solid rgba($brand-black,.1);
				}
			}
			button{
				margin-top: 4px;
				padding: 5px;
				background: transparent;
				border: none;
				i{
					color: rgba($brand-black,.5);
				}
				&:hover, &:focus{
					background: transparent !important;
					i{
						color: rgba($brand-black,1);
					}
				}
			}
			&.shopping-cart{
				float: right;
			}
			a {
				&.cart{
					color: rgba(0,0,0,1);
					span{
						position: relative;
						small{
							position: absolute;
							top: -20px;
							right: -15px;
							padding: 10px 6px;
							line-height: 0;
							font-size: 11px;
							background: $brand-primary;
							color: rgba(255,255,255,1);
							@include border-radius(50%);
						}
					}
				}
			}
		}
	}
	ul {
		padding: 0;
		margin: 0;
		li {
			padding: 0;
			margin: 0;
			list-style: none;
			display: inline-block;
			font-family: $font-primary;
			a {
				font-size: 13px;
				padding: 30px 10px;
				text-transform: uppercase;
				color: rgba(0,0,0,.5);
				@include transition(.5s);
				&:hover,&:focus, &:active {
					color: rgba(0,0,0,1);
				}
				&.cart{
					color: rgba(0,0,0,1);
					span{
						position: relative;
						small{
							position: absolute;
							top: -20px;
							right: -15px;
							padding: 10px 6px;
							line-height: 0;
							font-size: 11px;
							background: $brand-primary;
							color: rgba(255,255,255,1);
							@include border-radius(50%);
						}
					}
				}
			}
			&.has-dropdown {
				position: relative;
				.dropdown {
					width: 150px;
					-webkit-box-shadow: 0px 14px 33px -9px rgba(0,0,0,0.75);
					-moz-box-shadow: 0px 14px 33px -9px rgba(0,0,0,0.75);
					box-shadow: 0px 14px 33px -9px rgba(0,0,0,0.75);
					z-index: 1002;
					visibility: hidden;
					opacity: 0;
					position: absolute;
					top: 40px;
					left: 0;
					text-align: left;
					background: $brand-black;
					padding: 20px;
					@include border-radius(4px);
					@include transition(.0s);
					&:before {
						bottom: 100%;
						left: 40px;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
						border-bottom-color: #000;
						border-width: 8px;
						margin-left: -8px;
					}
					
					li {
						display: block;
						margin-bottom: 7px;
						&:last-child {
							margin-bottom: 0;
						}
						a {
							padding: 2px 0;
							display: block;
							color: lighten($brand-black, 60%);
							line-height: 1.2;
							text-transform: none;
							font-size: 15px;
							&:hover {
								color: $brand-white;
							}
						}
					}
				}
				&:hover, &:focus {
					a {
						color: $brand-black;
					}
					.dropdown {
					}
				}
			}
			&.active {
				> a {
					color: $brand-black!important;
				}
			}
			.form-group{
				border: 1px solid red;
				width: 100%;
			}
		}
	}
}


#fh5co-hero {
	min-height: 700px;
	background: $brand-white url(../images/loader.gif) no-repeat center center;
	.btn {
		font-size: 24px;
		&.btn-primary {
			padding: 14px 30px!important;
		}
	}
	.flexslider {
		border: none;
		z-index: 1;
		margin-bottom: 0;

		.slides {
			position: relative;
			overflow: hidden;
			li {
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center center;
				min-height: 700px;
	
			}
		}
		.flex-control-nav {
			bottom: 40px;
			z-index: 1000;
			li {
				a {
					background: rgba(255,255,255,.2);
					box-shadow: none;
					width: 12px;
					height: 12px;
					cursor: pointer;
					&.flex-active {
						cursor: pointer;
						background: rgba(255,255,255,.7);
					}
				}
			}
		}
		.flex-direction-nav {
			display: none;
		}
		.slider-text {
			display: table;
			opacity: 0;
			min-height: 700px;
			> .slider-text-inner {
				display: table-cell;
				vertical-align: middle;
				min-height: 700px;
				h2 {
					font-size: 24px;
					font-weight: 400;
					color: $brand-black;
					text-transform: uppercase;
					letter-spacing: 2px;
					@media screen and (max-width: $screen-sm) {
						font-size: 40px;
					}
				}
				.desc{
					background: rgba($brand-white,.9);
					padding: 40px;
					.price{
						font-size: 14px;
						letter-spacing: 3px;
						display: block;
						margin-bottom: 20px;
					}
				}
				.btn{
					font-size: 18px;
				}

				.fh5co-lead {
					font-size: 20px;
					color: $brand-white;
					.icon-heart {
						color: $brand-danger;
					}
				}
			}
		}
	}
}


#fh5co-header,
#fh5co-counter,
.fh5co-bg {
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	position: relative;
}
.fh5co-bg {
	background-size: cover;
	background-position: center center;
	position: relative;
	width: 100%;
	float: left;
	position: relative;
}

// .fh5co-video {
// 	// height: 450px;
// 	overflow: hidden;
// 	// @include border-radius(7px);
// 	@media screen and (max-width: $screen-md){
// 		height: 450px;
// 	}
// 	a {
// 		z-index: 1001;
// 		position: absolute;
// 		top: 50%;
// 		left: 50%;
// 		margin-top: -45px;
// 		margin-left: -45px;
// 		width: 90px;
// 		height: 90px;
// 		display: table;
// 		text-align: center;
// 		background: $brand-white;
		
// 		-webkit-box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75);
// 		-moz-box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75);
// 		box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75);
// 		@include border-radius(50%);
		
// 		i {
// 			text-align: center;
// 			display: table-cell;
// 			vertical-align: middle;
// 			font-size: 40px;

// 		}
// 	}
// 	.overlay {
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		right: 0;
// 		bottom: 0;
// 		background: rgba(0, 0, 0, .5);
// 		@include transition(.5s);
// 	}
// 	&:hover {
// 		.overlay {
// 			background: rgba(0, 0, 0, .7);		
// 		}
// 		a {
// 			// position: relative;
// 			-webkit-transform: scale(1.2);
// 			-moz-transform: scale(1.2);
// 			-ms-transform: scale(1.2);
// 			-o-transform: scale(1.2);
// 			transform: scale(1.2);
			
// 		}
// 	}
// }

#fh5co-counter {
	height: 500px;
	.display-t,
	.display-tc {
		height: 500px;
		display: table;
		width: 100%;
	}	
	@media screen and (max-width: $screen-md) {
		height: inherit;
		padding: 7em 0;
		.display-t,
		.display-tc {
			height: inherit;
		}
	}
	@media screen and (max-width: $screen-sm) {
		height: inherit;
		padding: 7em 0;
		.display-t,
		.display-tc {
			height: inherit;
		}
	}
}

.fh5co-cover {
	height: 800px;

	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	position: relative;
	float: left;
	width: 100%;
	.overlay {
		z-index: 0;
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
		background: rgba($brand-black,.2);
	}
	> .fh5co-container {
		position: relative;
		z-index: 10;
	}
	@media screen and (max-width: $screen-sm) {
		height: 600px;
	}
	.display-t,
	.display-tc {
		z-index: 9;
		height: 900px;
		display: table;
		width: 100%;
		@media screen and (max-width: $screen-sm) {
			height: 600px;
		}
	}	

	&.fh5co-cover-sm {
		height: 600px;
		@media screen and (max-width: $screen-sm) {
			height: 400px;
		}
		.display-t,
		.display-tc {
			height: 600px;
			display: table;
			width: 100%;
			@media screen and (max-width: $screen-sm) {
				height: 400px;
			}
		}	
	}
}

.about-content{
	margin-bottom: 7em;
	img{
		border: 1px solid rgba($brand-black,.05);
		padding: 10px;
	}
	.desc{
		margin-bottom: 3em;
	}
}
.fh5co-staff { 
	text-align: center;
	margin-bottom: 30px;
	img {
		width: 170px;
		margin-bottom: 20px;
		@include border-radius(50%);
	}
	h3 {
		font-size: 24px;
		margin-bottom: 5px;
	}
	p {
		margin-bottom: 30px;
	}
	.role {
		color: lighten($brand-black, 75%);
		margin-bottom: 30px;
		font-weight: normal;
		display: block;
	}
}

.social-icons {
	margin: 0;
	padding: 0;
	li {
		margin: 0;
		padding: 0;
		list-style: none;
		@include inline-block;
		a {
			@include inline-block;
			color: $brand-primary;
			padding-left: 10px;
			padding-right: 10px;
			i {
				font-size: 20px;
			}
		}
	}
}

.fh5co-contact-info {
	ul {
		padding: 0;
		margin: 0;
		li {
			padding: 0 0 0 40px;
			margin: 0 0 30px 0;
			list-style: none;
			position: relative;
			&:before {
				color: $brand-primary;
				position: absolute;
				left: 0;
				top: .05em;
				@include icomoon;
			}
			&.address {
				&:before {
					font-size: 30px;	
					content: "\e9d1";
				}
			}
			&.phone {
				&:before {
					font-size: 23px;
					content: "\e9f4";
				}
			}
			&.email {
				&:before {
					font-size: 23px;
					content: "\e9da";
				}
			}
			&.url {
				&:before {
					font-size: 23px;
					content: "\e9af";
				}
			}
		}
	}
}


// form {
// 	label {
// 		font-weight: normal!important;
// 	}
// }


#fh5co-header,
#fh5co-counter,
.fh5co-cover {
	.display-tc {
		display: table-cell!important;
		vertical-align: middle;
		h1, h2 {
			margin: 0;
			padding: 0;
			color: rgba(255,255,255,1);
		}
		h1 {
			margin-bottom: 0px;
			font-size: 60px;
			line-height: 1.5;
			text-transform: uppercase;
			font-weight: 700;
			@media screen and (max-width: $screen-sm) {
				font-size: 40px;
			}
		}
		h2 {
			font-size: 20px;
			line-height: 1.5;
			margin-bottom: 30px;
			font-family: $font-secondary;
			a{
				color: rgba($brand-white,.7);
				border-bottom: 1px solid rgba($brand-white,.6);
			}
		}
		.btn {
			padding: 15px 30px;
			background: $brand-primary!important;
			color: $brand-white;
			border: none!important;
			font-size: 18px;
			text-transform: uppercase;
			&:hover {
				background: $brand-primary!important;
				-webkit-box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75)!important;
				-moz-box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75)!important;
				box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75)!important;
			}
		}
		.form-inline {
			.form-group {
				width: 100%!important;
				margin-bottom: 10px;
				.form-control {
					width: 100%;
					background: $brand-white;
					border: none;
				}
			}
		}
	}
}

#fh5co-counter {	
	text-align: center;
	.counter {
		font-size: 50px;
		margin-bottom: 10px;
		color: $brand-black;
		font-weight: 100;
		display: block;
	}
	.counter-label {
		margin-bottom: 0;
		text-transform: uppercase;
		color: rgba(0,0,0,.5);
		letter-spacing: 1px;
		font-family: $font-primary;
	}

	.feature-center {
		padding: 40px 20px;	
		background: rgba($brand-white,.8);
		@media screen and (max-width: $screen-sm) {
			margin-bottom: 50px;	
		}
	}
	.icon {
		width: 70px;
		height: 70px;
		text-align: center;
		background: $brand-primary;
		-webkit-box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75);
		box-shadow: 0px 14px 30px -15px rgba(0,0,0,0.75);
		margin-bottom: 20px;
		i {
			height: 70px;
			color: $brand-white;
			&:before {
				display: block;
				text-align: center; 
				margin-left: 3px;
			}
		}
	}
}


.bg-section{
	background: rgba($brand-black,.05);
}

#services,
#fh5co-started,
#testimonial,
#fh5co-started,
#product,
#fh5co-about,
#fh5co-contact,
#footer{
	padding: 7em 0;
	clear: both;
	@media screen and (max-width: $screen-sm) {
		padding: 3em 0;
	}
}


//SERVICES
.feature-center {
	// text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	float: left;
	width: 100%;
	margin-bottom: 40px;
	@media screen and (max-width: $screen-sm) {
		margin-bottom: 50px;		
	}

	.desc{
		padding-left: 180px;
	}
	
	.icon {
		width: 90px;
		height: 90px;
		background: $brand-primary;
		display: table;
		text-align: center;
		margin: 0 auto 30px auto;
		@include border-radius(50%);
		i {
			display: table-cell;
			vertical-align: middle;
			height: 90px;
			font-size: 40px;
			line-height: 40px;
			color: $brand-white;
		}
		
	}
	p, h3 {
		margin-bottom: 30px;
	}
	h3 {
		text-transform: uppercase;
		font-size: 15px;
		letter-spacing: 1px;
		font-weight: 600;
		// color: #5d5d5d;
	}
}


// PRODUCT
.product{
	margin-bottom: 40px;
	.product-grid{
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
		position: relative;
		height: 350px;
		margin-bottom: 20px;
		@include transition(.3s);
		.sale{
			position: absolute;
			top: 10px;
			left: 10px;
			padding: 10px;
			z-index: 100;
			background: $brand-primary;
			color: $brand-white;
			@include border-radius(50%);
		}
		.inner{
			display: table;
			height: 350px;
			width: 100%;
			opacity: 0;
			background: rgba($brand-black,.3);
			@include transition(.3s);
			@media screen and (max-width: $screen-sm){
				opacity: 1;
				background: transparent;
			}
			p{
				display: table-cell;
				vertical-align: middle;
				.icon{
					padding: 7px 10px;
					color: $brand-white;
					background: $brand-primary;
					&:hover,&:focus{
						color: $brand-primary;
						background: $brand-white;
					}
				}
			}
		}
	}
	.desc{
		h3{
			font-size: 14px;
			letter-spacing: 1px;
			text-transform: uppercase;
			margin-bottom: 5px;
			font-weight: bold;
			line-height: 24px;
			a{
				color: $brand-black;
			}
		}
		.price{
			letter-spacing: 2px;
			text-transform: uppercase;
		}
	}
	&:hover, &:focus{
		.product-grid{
			-webkit-box-shadow: 0px 10px 24px -7px rgba(0,0,0,0.35);
			-moz-box-shadow: 0px 10px 24px -7px rgba(0,0,0,0.35);
			-ms-box-shadow: 0px 10px 24px -7px rgba(0,0,0,0.35);
			-o-box-shadow: 0px 10px 24px -7px rgba(0,0,0,0.35);
			box-shadow: 0px 10px 24px -7px rgba(0,0,0,0.35);
		}
		.inner{
			opacity: 1;
		}
		.desc{
			h3{
				a{
					color: $brand-primary;
				}
			}
		}
	}
}

.product-carousel{
	margin-bottom: 7em;
}

.fh5co-tabs {
	.fh5co-tab-nav {
		clear: both;
		margin: 0 0 3em 0;
		padding: 3px;
		float: left;
		width: 100%;
		background: lighten($brand-black, 95%);
		@include border-radius(4px);
		li {
			float: left;
			margin: 0;
			padding: 0;
			width: 33.33%;
			text-align: center;
			list-style: none;
			@include inline-block;
			.icon {
				font-size: 30px;
			}
			a {
				padding: 20px;
				width: 100%;
				float: left;
				@include border-radius(4px);
				color: lighten($brand-black, 70%);
				&:hover {
					color: lighten($brand-black, 30%);
				}
			}
			&.active {
				a {
					background: $brand-white;
					color: $brand-primary;
				}
			}
		}
	}
	.fh5co-tab-content-wrap {
		clear: both;
		position: relative;
		top: 70px;
		.tab-content {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			opacity: 0;
			visibility: hidden;
			&.active {
				opacity: 1;
				visibility: visible;
			}
			.price{
				letter-spacing: 2px;
				border: 2px solid $brand-primary;
				display: inline-block;
				margin-bottom: 20px;
				padding: 7px 20px 10px 20px;
			}
		}
		ul{
			padding: 0;
			margin: 0;
			margin-bottom: 3em;
			li{
				list-style: none;
				margin-bottom: 20px;
				position: relative;
				padding-left: 30px;
				&:before{
					font-family: 'icomoon';
					position: absolute;
					top: 0;
					left: 0;
					content: '\e116';
				}
			}
		}
		.feed{
			width: 100%;
			float: left;
			margin-bottom: 7em;
			>div{
				width: 100%;
				float: left;
				margin-bottom: 1em;
				blockquote{
					border-left: 0;
					padding: 20px;
					background: rgba($brand-black,.04);
				}
				h3{
					font-family: $font-secondary;
					font-size: 18px;
					display: inline-block;
					padding-right: 20px;
				}
				.rate{
					color: #ffba00;
				}
			}
		}
	}
	.icon-xlg {
		font-size: 400px;
		margin-bottom: 30px;
		text-align: center;
		@media screen and (max-width: $screen-sm) {
			font-size: 300px;
		}
		@media screen and (max-width: $screen-xs) {
			font-size: 200px;
		}
		i {
			color: $brand-primary;
		}
	}
}


.heading {
	margin-bottom: 5em;
	&.heading-sm {
		margin-bottom: 2em;
	}
	h2 {
		font-size: 24px;
		margin-bottom: 20px;
		line-height: 1.5;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: $brand-black;
	}
	p {
		font-size: 18px;
		line-height: 1.5;
		color: #828282;
	}
	span{
		display: block;
		margin-bottom: 10px;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 2px;
		font-family: $font-primary;
	}
}

#testimonial {
	background: #efefef;
	.testimony-slide{
		// display: none;
		text-align: center;
		span{
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-weight: 700;
			display: block;
		}

		figure{
			margin-bottom: 10px;
			@include inline-block;
			
			img {
				width: 100px;
				@include border-radius(50%);
			}
		}

		blockquote{
			border: none;
			margin: 30px auto;
			width: 50%;
			position: relative;
			padding: 0;
			@media screen and (max-width: $screen-md) {
				width: 100%;
			}
			
		}

	}

	.arrow-thumb{
		position: absolute;
		top: 40%;
		display: block;
		width: 100%;

		a{
			font-size: 32px;
			color: #dadada;

			&:hover, &:focus, &:active{
				text-decoration: none;
			}
		}

	}
}

#fh5co-started {
	background: rgba($brand-primary,1);
	
	.heading {
		h2 {
			color: $brand-white;
			margin-bottom: 20px !important;
		}
		p{
			color: rgba($brand-white,.6);
		}
	}

	.form-control {
		background: rgba(255,255,255,.2);
		border: none!important;
		color: $brand-white;
		font-size: 16px!important;
		width: 100%;


		&::-webkit-input-placeholder {
		   color: $brand-white;
		}

		&:-moz-placeholder { /* Firefox 18- */
		   color: $brand-white;  
		}

		&::-moz-placeholder {  /* Firefox 19+ */
		   color: $brand-white;  
		}

		&:-ms-input-placeholder {  
		   color: $brand-white;  
		}
		@include transition(.5s);
		&:focus {
			background: rgba(255,255,255,.3);
		}

	}
	.btn {
		height: 54px;
		border: none!important;
		background: rgba($brand-black,.8);
		color: $brand-white;
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 400;
		padding-left: 50px;
		padding-right: 50px;
	}
	.form-inline {
		.form-group {
			width: 100%!important;
			margin-bottom: 10px;
			.form-control {
				width: 100%;
			}
		}
	}
}

#footer {
	background: #efefef;
	.footer-links {
		padding: 0;
		margin: 0;	
		li {
			padding: 0;
			margin: 0;
			list-style: none;
			a {
				color: $brand-black;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.widget {
		margin-bottom: 30px;
		@media screen and (max-width: $screen-sm){
			text-align: left;
		}
		h3 {
			margin-bottom: 15px;
			font-weight: bold;
			font-size: 15px;
			letter-spacing: 2px;
			text-transform: uppercase;
		}
	}

	.copyright {
		.block {
			display: block;
		}
	}
}

#map {
	height: 500px;
	width: 100%;
	@media screen and (max-width: $screen-sm) {
		height: 400px;
	}
	@media screen and (max-width: $screen-xs) {
		height: 200px;
	}
}



// off canvas
#fh5co-offcanvas {
	position: absolute;
	z-index: 1901;
	width: 270px;
	background: lighten($brand-black, 0%);
	top: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 45px 40px 40px 40px;
	overflow-y: auto;
	display: none;
	@include translateX(270px);
	@include transition(.5s);
	@media screen and(max-width: $screen-sm){
		display: block;
	}
	.offcanvas & {
		@include translateX(0px);
	}
	a {
		color: rgba(255,255,255,.5);
		&:hover {
			color: rgba(255,255,255,.8);
		}
	}
	ul {
		padding: 0;
		margin: 0;
		li {
			padding: 0;
			margin: 0;
			list-style: none;
			&.search{
				float: left;
				width: 100%;
				font-family: $font-secondary;
				@include transition(.3s);
				padding: 0;
				margin: 5px 0 0 0;

			}
			input[type=text]{
				padding: 6px 10px;
				width: 100%;
				border: 1px solid rgba($brand-white,.1);
				float: right;
				font-size: 13px;
				margin-top: 4px;
				background: transparent;
				@include transition(.3s);
				&:focus{
					width: 100%;
					outline: none;
				}
			}
			button{
				margin-top: 4px;
				padding: 6px;
				background: rgba($brand-white,.1);
				border: 1px solid rgba($brand-white,.1);
				margin-left: 1px;
				i{
					color: rgba($brand-white,.5);
				}
				&:hover, &:focus{
					background: transparent !important;
					i{
						color: rgba($brand-white,1);
					}
				}
			}
			&.shopping-cart{
				float: left;
			}
			a{
				&.cart{
					display: block;
					margin-top: 30px;
					color: rgba(255,255,255,.5);
					span{
						position: relative;
						small{
							position: absolute;
							top: -20px;
							right: -15px;
							padding: 10px 6px;
							line-height: 0;
							font-size: 11px;
							background: $brand-primary;
							color: rgba(255,255,255,1);
							@include border-radius(50%);
						}
					}
				}
			}
			> ul {
				padding-left: 20px;
				display: none;
			}
			&.offcanvas-has-dropdown {
				> a {
					display: block;
					position: relative;
					&:after {
						position: absolute;
						right: 0px;
						@include icomoon;
						content: "\e921";
						font-size: 20px;
						color: rgba(255,255,255,.2);
						@include transition(.5s);
					}
				}
				&.active {
					a {
						&:after {
							-webkit-transform: rotate(-180deg);
							-moz-transform: rotate(-180deg);
							-ms-transform: rotate(-180deg);
							-o-transform: rotate(-180deg);
							transform: rotate(-180deg);
						}
					}
				}
			}
		}
	}
}

.uppercase {
	font-size: 14px;
	color: $brand-black;
	margin-bottom: 10px;
	font-weight: 700;
	text-transform: uppercase;
}
.gototop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	@include transition(.5s);
	&.active {
		opacity: 1;
		visibility: visible;
	}
	a {
		width: 50px;
		height: 50px;
		display: table;
		background: rgba(0,0,0,.5);
		color: $brand-white;
		text-align: center;
		@include border-radius(4px);
		i {
			height: 50px;
			display: table-cell;
			vertical-align: middle;

		}
		&:hover, &:active, &:focus {
			text-decoration: none;
			outline: none;
		}
	}	
}



// Burger Menu
.nav-toggle {
  width:25px;
  height:25px;
  cursor: pointer;
  text-decoration: none;
  &.active i {
		&::before, &::after {
			background: $brand-darker;
		}
  }
  &:hover, &:focus, &:active {
  	outline: none;
  	border-bottom: none!important;
  }
  i {
  	position: relative;
	  display: inline-block;
	  width: 25px;
	  height: 2px;
	  color: #252525;
	  font:bold 14px/.4 Helvetica;
	  text-transform: uppercase;
	  text-indent:-55px;
	  background: #252525;
	  transition: all .2s ease-out;
		 &::before, &::after {
	  	content:'';
		  width: 25px;
		  height: 2px;
		  background: #252525;
		  position: absolute;
		  left:0;
		  transition:all .2s ease-out;
	  }
  }
  &.nav-white {
  	> i {
  		color:$brand-white;
  		background: $brand-black;
  		&::before, &::after {
  			background: $brand-black;
  		}
  	}
  }
}

.nav-toggle i::before {
  top: -7px;
}
.nav-toggle i::after {
  bottom: -7px;
}
.nav-toggle:hover i::before {
  top: -10px;
}
.nav-toggle:hover i::after {
  bottom: -10px;
}
.nav-toggle.active i {
	background: transparent;
}
.nav-toggle.active i::before {
	background: $brand-white;
  top:0;
  -webkit-transform: rotateZ(45deg);
     -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
       -o-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.nav-toggle.active i::after {
	background: $brand-white;
  bottom:0;
  -webkit-transform: rotateZ(-45deg);
     -moz-transform: rotateZ(-45deg);
      -ms-transform: rotateZ(-45deg);
       -o-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
.nav-toggle {
  position: absolute;
  right: 0px;
  top: 10px;
  // top: 100px;
  // left: -100px;;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  // background: #f86942;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none!important;
  @media screen and (max-width: $screen-sm) {
  	display: block;
  }
}

// Buttons
.btn {
	margin-right: 4px;
	margin-bottom: 4px;
	font-family: $font-primary;
	font-size: 16px;
	font-weight: 400;
	@include border-radius(2px);
	@include transition(.5s);
	padding: 8px 20px;
	&.btn-md {
		padding: 8px 20px!important;
	}
	&.btn-lg {
		padding: 18px 36px!important;
	}
	&:hover, &:active, &:focus {
		box-shadow: none!important;
		outline: none!important;
	}
}
.btn-primary {
	background: $brand-primary;
	color: $brand-white;
	border: 2px solid $brand-primary;
	&:hover, &:focus, &:active {
		background: lighten($brand-primary, 5%)!important;
		border-color: lighten($brand-primary, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-primary;
		border: 2px solid $brand-primary;
		&:hover, &:focus, &:active {
			background: $brand-primary;
			color: $brand-white;
		}
	}
}
.btn-success {
	background: $brand-success;
	color: $brand-white;
	border: 2px solid $brand-success;
	&:hover, &:focus, &:active {
		background: darken($brand-success, 5%)!important;
		border-color: darken($brand-success, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-success;
		border: 2px solid $brand-success;
		&:hover, &:focus, &:active {
			background: $brand-success;
			color: $brand-white;
		}
	}
}
.btn-info {
	background: $brand-info;
	color: $brand-white;
	border: 2px solid $brand-info;
	&:hover, &:focus, &:active {
		background: darken($brand-info, 5%)!important;
		border-color: darken($brand-info, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-info;
		border: 2px solid $brand-info;
		&:hover, &:focus, &:active {
			background: $brand-info;
			color: $brand-white;
		}
	}
}
.btn-warning {
	background: $brand-warning;
	color: $brand-white;
	border: 2px solid $brand-warning;
	&:hover, &:focus, &:active {
		background: darken($brand-warning, 5%)!important;
		border-color: darken($brand-warning, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-warning;
		border: 2px solid $brand-warning;
		&:hover, &:focus, &:active {
			background: $brand-warning;
			color: $brand-white;
		}
	}
}
.btn-danger {
	background: $brand-danger;
	color: $brand-white;
	border: 2px solid $brand-danger;
	&:hover, &:focus, &:active {
		background: darken($brand-danger, 5%)!important;
		border-color: darken($brand-danger, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-danger;
		border: 2px solid $brand-danger;
		&:hover, &:focus, &:active {
			background: $brand-danger;
			color: $brand-white;
		}
	}
}

.btn-outline {
	background: none;
	border: 2px solid lighten($brand-black, 50%);
	font-size: 16px;
	@include transition(.3s);
	&:hover, &:focus, &:active {
		box-shadow: none;
	}
}

.btn.with-arrow {
	position: relative;
	@include transition(.3s);
	i {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		right: 0px;
		top: 50%;
		margin-top: -8px;
		@include transition(.2s);
	}
	&:hover {
		padding-right: 50px;
		i {
			color: $brand-white;
			right: 18px;
			visibility: visible;
			opacity: 1;
		}
	}
}
// Form Input Field
.form-control {
	box-shadow: none;
	background: transparent;
	border: 2px solid rgba(0, 0, 0, 0.1);
	height: 54px;
	font-size: 18px;
	font-weight: 300;
  	&:active, &:focus {
  		outline: none;
		box-shadow: none;
		border-color: $brand-primary;
  }
}

.row-pb-md {
	padding-bottom: 4em!important;
}
.row-pb-sm {
	padding-bottom: 2em!important;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loader.gif) center no-repeat #fff;
}

.animate-box {
	.js & {
		opacity: 0;
	}
}