﻿@charset "utf-8";
/* CSS Document */

html {
       margin:0; padding:0; 

}

body {
    margin:0;
	padding:0;
}

ul, li {
		margin: 0;
		padding: 0;
		list-style: none;
}

#wrapper {
   margin:0 auto;
   padding:0;
}

#container {
   margin:0 auto;
   padding:0;
}

.banner {
    margin:0 auto;
	width:1920px;
	height:1080px;
	padding:0;
}

.news {
	position:absolute;
	left:50px;
	top:10px;
}

.news1 {
	position:absolute;
	left:0;
	top:20px;
}

.new_area {
	width:800px;
	height:400px;
	float:left;
	margin:0 50px 30px 0;
}

.new_area1 {
	width:1920px;
	margin:0;
}

.event_word {
	padding:5px 20px;
	background:#FFFFFF no-repeat;
	opacity:0.8;
	box-sizing:border-box;
}

h1 {
	width:600px;
	padding:10px;
	font-size:30px; color: #ffffff;
	line-height:36px;
	font-weight:bold;
	letter-spacing:1px;
	font-family:"微軟正黑體","新細明體","Adobe 黑体 Std R";
	text-shadow:#363636 1px 1px 1px;
}

h2 {
	font-size:36px; color:#3F3F3F;
	line-height:15px;
	font-weight:bold;
	letter-spacing:1px;
	font-family:"微軟正黑體","新細明體","Adobe 黑体 Std R";
}

h5 {
	font-size:18px; color:#3F3F3F;
	line-height:12px;
	font-weight:bold;
	letter-spacing:1px;
	font-family:"微軟正黑體","新細明體","Adobe 黑体 Std R";
}

font {
	width:600px;
	padding:10px;
	line-height:24px;
	font-size:18px; color: #ffffff;
	font-weight:bold;
	letter-spacing:1px;
	font-family:"微軟正黑體","新細明體","Adobe 黑体 Std R";
	text-shadow:#363636 1px 1px 1px;
}

strong {
	font-size:30px; color: #fff000;
}

.clear_line {
    clear:both;
}

/*首頁廣告輪播*/
a img {
		border: none;
}
#abgne_fade_pic {
		position: relative;
		width:1920px;
	    height:1080px;
}

#abgne_fade_pic a.ad {
		position: absolute;	/* 讓圖片疊在一起 */
}

#abgne_fade_pic .control {
		position: absolute;
		left:20px;
		top:20px;
}

#abgne_fade_pic .control a {
		display: inline-block;
		padding: 2px;
		margin: 0 3px;
		width:0px;
		height:0px;
		color: #818181;
		background:;
		text-align: center;
		font-size:0px;
		text-decoration: none;
}

#abgne_fade_pic .control a.on {
		background:;
}

#abgne_fade_pic a {
		padding:0;
		margin: 0;
		color: #222222; font-size:50px;
		text-decoration: none;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-weight:bolder;
		line-height:48px;
}


