@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), 
       url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"),
      url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), 
      url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Microsoft JhengHei', "Playfair Display", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #828282;
  background: #fff;
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #page {
  overflow: hidden;
  position: absolute;
}
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}
.border {
  position: relative;
  max-width: 1172px;
  margin: 0 auto;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
}
a {
  color: #a1164c;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #a1164c;
  outline: none;
  text-decoration: none;
}
p {
  margin-bottom: 20px;
}
h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: 'Microsoft JhengHei', "Montserrat", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}
label {
  color: #a1164c;
}
::-webkit-selection {
  color: #fff;
  background: #a1164c;
}

::-moz-selection {
  color: #fff;
  background: #a1164c;
}

::selection {
  color: #fff;
  background: #a1164c;
}

.nav {
  padding: 7px 0;
  background: #1e3a6f;
}
.nav a {
  padding: 5px 10px;
  color: #fff;
}
.nav .menu-1 {
  padding-right: 0;
}
.nav .reg {
  display: none;
  list-style: none;
  float: right;
}
@media screen and (max-width: 768px) {
  .nav {
    padding: 15px 0;
  }
  .nav .menu-1, .nav .menu-2 {
    display: none;
  }
  .nav .reg {
    display: block;
  }
  .nav .reg i {
    padding-left: 10px;
  }
}
.nav ul {
  padding: 0;
  margin: 0;
}
.nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
  font-family: 'Microsoft JhengHei', "Montserrat", Arial, sans-serif;
}
.nav ul li a {
  font-size: 15px;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: 2px;
}
.nav ul li.has-dropdown a {
  background: #8e9cb7;
}
.nav ul li a:hover, .nav ul li a:focus, .nav ul li a:active {
  color: #e9e9e9;
}
.nav ul li a.cart {
  color: black;
}
.nav ul li a.cart span {
  position: relative;
}
.nav ul li a.cart span small {
  position: absolute;
  top: -20px;
  right: -15px;
  padding: 10px 6px;
  line-height: 0;
  font-size: 11px;
  background: #a1164c;
  color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.nav ul li.has-dropdown {
  position: relative;
}
.nav ul li.has-dropdown .dropdown {
  width: 110px;
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 0;
  text-align: center;
  background: #8e9cb7;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0;
  -o-transition: 0;
  transition: 0;
}
.nav ul li.has-dropdown .dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #8e9cb7;
  border-width: 8px;
  margin-left: -8px;
}
.nav ul li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px;
}
.nav ul li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0;
}
.nav ul li.has-dropdown .dropdown li a {
  padding: 5px 0;
  display: block;
  color: #fff;
  line-height: 1.2;
  text-transform: none;
  font-size: 15px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.nav ul li.has-dropdown .dropdown li a:hover {
  background: #1e3a6f;
}
.nav ul li.has-dropdown:hover a, .nav ul li.has-dropdown:focus a {
  color: #e9e9e9;
}
.nav ul li.active > a {
  color: #e9e9e9 !important;
}
.nav ul li .form-group {
  border: 1px solid red;
  width: 100%;
}

#header {
  padding: 2em 0;
}
#header #logo {
  display: none;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  #header #logo {
    display: block;
  }
}
#header .menu-2 ul li {
  display: block !important;
  list-style: none;
}
#header .menu-2 li.search {
  font-family: 'Microsoft JhengHei', "Playfair Display", serif;
  padding: 0;
  margin: 0;
}
#header .menu-2 li.search .col-xs-6 {
  padding: 0;
}
#header .menu-2 li select {
  width: 65%;
  height: 34px;
  padding: 5px 20px 5px 10px;
  margin: 4px 5px 0 0;
  border: 1px solid #4a4a4a;
  border-radius: 0;
  float: right;
  font-size: 13px;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
}
#header .menu-2 li input[type=text] {
  padding: 5px 10px;
  width: 100%;
  border: 1px solid #4a4a4a;
  float: right;
  font-size: 13px;
  margin-top: 4px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#header .menu-2 li button {
  height: 34px;
  margin-top: 4px;
  padding: 5.5px 6px;
  background: #1aa0c3;
  border: none;
}
#header .menu-2 li button:hover, #header .menu-2 li button:focus {
  background: rgba(26, 160, 195, .85) !important;
}
#header .menu-2 li button i {
  color: #fff;
}
#header .menu-2 li.shopping-cart {
  float: right;
  margin-top: 10px;
}
#header .menu-2 li.shopping-cart a {
  padding-right: 5px;
}
#header .menu-2 li.shopping-cart a#mem, 
#header .menu-2 li.shopping-cart a#reg {
  font-weight: bold;
  letter-spacing: 1px;
}
#header .menu-2 li.shopping-cart a#mem {
  color: #1e3a6f;
}
#header .menu-2 li.shopping-cart a#reg {
  padding-left: 5px;
  color: #1aa0c3;
}
#header .menu-2 li a.cart {
  color: #4a4a4a;
  font-size: 25px;
}
#header .menu-2 li a.cart span {
  position: relative;
}
#header .menu-2 li a.cart span small {
  position: absolute;
  top: -15px;
  right: -15px;
  padding: 10px 6px;
  line-height: 0;
  font-size: 11px;
  background: #a1164c;
  color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  #search {
    list-style: none;
    margin-top: 50px;
  }
  #search select {
    margin-bottom: 10px;
    font-size: 16px;
  }
  #search select, #search input, #search button {
    padding: 8px;
    height: 48px;
  }
  #search input {
    width: 99%;
    background: rgba(252, 252, 252, .65);
    color: #222;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  #search button {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
#mainmenu .nav {
  background: #e9e9e9;
  padding: 0 30px;
}
#mainmenu .nav li a {
  color: #222;
  border-radius: 0;
  text-align: center;
}
#mainmenu .nav-pills > li + li {
  margin-left: 0;
}
#mainmenu .nav li a:hover,
#mainmenu .nav li a:focus,
#mainmenu .nav li a:active {
  background: #a1164c!important;
  color: #fff;
}
#mainmenu .nav li.active a {
  background: #a1164c!important;
  color: #fff;
}
#mainmenu .nav > li > a {
  padding: 15px 20px;
}
@media screen and (max-width: 768px) {
  #mainmenu .nav {
    margin: 0 auto !important;
    padding: 0 15px;
  }
  #mainmenu .nav li {
    width: 33.33%;
  }
}

.bg-section {
  background: rgba(0, 0, 0, 0.05);
}
#slider,
#services,
#fh5co-started,
#logos,
#fh5co-started,
#product,
#fh5co-about,
#fh5co-contact {
  padding: 2em 0;
  clear: both;
}
#footer {
  padding: 2em 0 0;
  clear: both;
}
@media screen and (max-width: 768px) {
  #header,
  #slider,
  #services,
  #fh5co-started,
  #logos,
  #fh5co-started,
  #product,
  #fh5co-about,
  #fh5co-contact {
    padding: 1.5em 0;
  }
  #footer {
    padding: 1.5em 0 0;
  }
}

.ic-block {
  margin: 0;
  padding-bottom: 1px;
  border-radius: 5px;
  background: #e9e9e9;
}
.ic-title {
  padding: 10px 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  font-size: 18px;
  background: #1e3a6f;
}
@media screen and (max-width: 992px) {
  .ic-block {
    margin-bottom: 15px;
  }
}

#services .news-list {
  position: relative;
  margin: 10px;
  padding: 0;
  background: #fff;
}
#services .ic-block .news-list li {
  position: relative;
  padding: 8px 15px;
  list-style: none;
  border-bottom: 1px solid #e9e9e9;
}
#services .ic-block .news-list li:last-child {
  border-bottom: 0;
}
#services .ic-block .news-list li a {
  color: #222;
  letter-spacing: 2px;
}

#testimonial .item {
  margin: 15px 0;
}
#testimonial .owl-carousel-fullwidth {
  padding: 0 30px;
}
#testimonial .testimony-slide {
  text-align: center;
}
#testimonial .testimony-slide span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  display: block;
}
#testimonial .testimony-slide figure {
  margin-bottom: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  width: 250px;
  height: 260px;
  overflow: hidden;
  zoom: 1;
  *display: inline;
}
#testimonial .testimony-slide figure img {
  width: 100%;
}
#testimonial .testimony-slide blockquote {
  border: none;
  margin: 30px auto;
  width: 50%;
  position: relative;
  padding: 0;
}
@media screen and (max-width: 992px) {
  #testimonial {
    margin-bottom: 0 !important;
  }
  #testimonial .testimony-slide blockquote {
    width: 100%;
  }
}
#testimonial .arrow-thumb {
  position: absolute;
  top: 40%;
  display: block;
  width: 100%;
}
#testimonial .arrow-thumb a {
  font-size: 32px;
  color: #dadada;
}
#testimonial .arrow-thumb a:hover, #testimonial .arrow-thumb a:focus, #testimonial .arrow-thumb a:active {
  text-decoration: none;
}

#logos {
  background: #eee;
}
#logos .item {
  width: 180px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

#product .product-b {
  padding-bottom: 15px;
  border-top: 1px solid #ddd;
}
/*#product .row {
  padding: 0 30px;
}*/
#product .heading h2 {
  margin-bottom: 0;
  padding-top: 15px;
}
.product {
  height: 400px;
  margin: 10px;
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
}
.product .product-grid {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  height: 250px;
  margin-bottom: 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #ddd;
}
.product-grid .sale {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  z-index: 100;
  background: #1aa0c3;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.product-grid .rgb {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  z-index: 100;
  background: #e60012;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.product-grid .rgg {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  z-index: 100;
  background: #21ba1a;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.product .product-grid .inner {
  display: table;
  height: 250px;
  width: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.product-grid .inner p {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  text-align: center;
}
.product-grid .inner p .icon {
  padding: 7px 10px;
  color: #fff;
  background: #a1164c;
}
.product-grid .inner p .icon:hover, .product-grid .inner p .icon:focus {
  color: #a1164c;
  background: #fff;
}
.desc h3 {
  height: 48px;
  overflow: hidden;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: bold;
  line-height: 24px;
}
.desc h3 a {
  color: #3e65bc;
}
.desc .price {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #222;
}
.desc .amount {
  float: right;
}
.product2 {
  position: relative;
  height: 150px;
  margin: 10px;
  padding: 10px;
  background: #fff;
  border: 1px solid #ddd;
  vertical-align: middle;
  text-align: center;
}
.product2 .product-grid {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  height: 128px;
  margin-bottom: 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #ddd;
}
.product2 .product-grid .inner {
  display: table;
  height: 127px;
  width: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.product2 .desc {
  display: inline-block;
  text-align: left;
  width: 100%;
  height: 128px;
}
.product2 .desc .price {
  vertical-align: -200%;
  width: auto;
  height: 100%;
}
.product:hover, .product:focus, .product2:hover, .product2:focus {
  -webkit-box-shadow: 0px 5px 12px -5px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 5px 12px -5px rgba(0, 0, 0, 0.35);
  -ms-box-shadow: 0px 5px 12px -5px rgba(0, 0, 0, 0.35);
  -o-box-shadow: 0px 5px 12px -5px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 5px 12px -5px rgba(0, 0, 0, 0.35);
}
.product:hover .inner, .product:focus .inner, .product2:hover .inner, .product2:focus .inner  {
  opacity: 1;
}
.product:hover .desc h3 a, .product:focus .desc h3 a, .product2:hover .desc h3 a, .product2:focus .desc h3 a  {
  color: #1e3a6f;
}
.product-carousel {
  margin-bottom: 7em;
}
@media screen and (max-width: 968px) {
  #logos {
    padding: 0;
  }
  #logos .item, #product .item {
    width: 100%;
  }
  #logos .item img {
    width: 180px;
  }
  #logos .owl-theme .owl-dots {
    position: relative;
  }
}
@media screen and (max-width: 768px) {
  #product .row {
    padding: 0;
  }
  #product h2 {
    text-align: center;
  }
  .product {
    margin: 0 auto;
    width: 272px;
  }
}

#lp-menu, #l-menu {
  margin: 10px 0;
}
#lp-menu .mt, #l-menu .mt {
  margin-top: 16px;
}
.menu {
  position: relative;
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}
.accordion {
  position: relative;
  background: #fff;
}
.menu .heading,
.accordion .accordion-heading {
  position: relative;
  padding: 10px 0;
  margin: 0;
  font-size: 15px;
  color: #222;
  letter-spacing: 2px;
  cursor: pointer;
  border-bottom: 1px solid #e4e4e4;
}
#lp-menu .heading a, 
#l-menu .heading a,
.accordion .heading a {
  color: #222 ;
}
#lp-menu .menu .active a, 
#l-menu .menu .active a,
#lp-menu .heading a:hover, #lp-menu .heading a:focus, #lp-menu .heading a:active, 
#l-menu .heading a:hover, #l-menu .heading a:focus, #l-menu .heading a:active, 
.menu .heading:hover, .menu .heading:focus, .menu .heading:active,
.accordion .heading a:hover, .accordion .heading a:focus, .accordion .heading a:active {
  color: #666;
}
.accordion .accordion-heading .icon {
  position: absolute;
  top: 3px;
  right: 15px;
  font-size: 18px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.accordion .accordion-content {
  display: none;
  padding-top: 15px;
}
.accordion .accordion-content .inner {
  padding-left: 20px;
}
.accordion.active .icon {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.accordion.active .accordion-heading {
  color: #666;
}
#product-page #productb .product {
  margin-bottom: 10px;
}
#product-page figure {
  width: 100%;
  height: 300px;
  margin-bottom: 0;
  overflow: hidden;
}
#product-page figure img {
  width: 100%;
}
@media screen and (min-width: 769px) {
  #mob-lm {
    display: none;
  }
}
@media screen and (max-width: 968px) {
  #product-page figure {
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  #mob-lm {
    width: 100%;
    height: 44px;
    color: #222;
  }
  #pc-lm {
    display: none;
  }
}


#single #sync1 .item {
  width: 100%;
  height: 450px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  text-align: center;
  border: 1px solid #ddd;
}
#sync1.owl-carousel .owl-item img {
  width: 100%;
}
#sync2 .item{
  width: 75px;
  height: 75px;
  overflow: hidden;
  padding: 2px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ddd;
}
#single .detail {
  letter-spacing: 2px;
  padding: 0;
}
#single ul li {
  list-style: none;
  margin: 2px auto;
}
#single .detail .price {
  font-weight: bolder;
  color: #222;
}
#single ul.select {
  width: 100%;
  padding: 0;
}
#single ul.select li {
  display: inline;
  float: left;
  width: 50%;
  padding: 0 2px;
  margin-bottom: 15px;
}
#single ul.select li select {
  width: 100%;
  height: 40px;
  font-size: 15px;
  padding: 5px 10px;
}
#single ul.buymore {
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}
#single ul.buymore li:first-child {
  color: #222;
  border: none;
}
#single ul.buymore li:nth-child(odd) {
  background: #eee;
}
#single ul.buymore li {
  padding: 10px 20px;
  margin: 0;
  border-top: 1px solid #ddd;
}
#single ul.buymore li input {
  margin-right: 5px;
}
#single ul.buymore li select {
  margin-left: 22px;
}
#single .bg-section {
  padding: 30px 0;
}
#single .bg-section .heading {
  padding-left: 15px;
}
#single #free .bg-section {
  background: rgba(26, 160, 195, .15);
}
#single #free .soldout {
  color: #a1164c;
  font-weight: 900;
}
#single .product {
  height: 320px;
}
#single .product .product-grid, #single .product .product-grid .inner {
  height: 200px;
}
#single ul.product-img {
  padding: 0;
  margin: 0 auto;
}
#filters {
  clear: both;
  padding: 6px 0;
  float: left;
  width: 100%;
  border-bottom: 2px solid #e9e9e9;
}
#filters li {
  display: inline-block;
  width: 50%;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
#filters li span {
  display: block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}
#filters li span {
  padding: 1px 10px;
}
#filters li span:hover, #filters li span:focus {
  color: #222222 !important;
}
#filters li span.active {
  font-weight: bolder;
}
#item-list .item-ps {
  width: 100%;
  display: none;
}
#item-list .item-ps li {
  list-style: none;
}

#news .news {
  padding: 15px 0;
  margin: 0 40px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
#news .news a {
  color: rgba(0, 0, 0, .5);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#news .news a:hover, #news .page ul li a:hover {
  color: #1e3a6f;
}
#news .news-text {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
#news .news .news-date {
  letter-spacing: 3px;
  font-size: 1em;
}
#news .news .news-title {
  letter-spacing: 2px;
  font-size: 1.25em;
}
#news .news-title h4 {
  margin: 20px 0;
  font-weight: 900;
  letter-spacing: 2px;
}
#news .news figure {
  margin: 0;
  height: 84px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  #news .news figure {
    height: 150px;
  }
}

.timeline {
  position: relative;
  list-style: none;
  padding: 20px 0 20px;
  margin: 10px 40px;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 1px;
  background-color: #d4d4d4;
  left: 50%;
  margin-left: 0px;
}
@media screen and (max-width: 480px) {
  .timeline:before {
    margin-left: -64px;
  }
}
.timeline > li {
  margin-bottom: 100px;
  position: relative;
}
.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 35%;
  float: left;
  border: 1px solid #d4d4d4;
  padding: 30px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 80px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 81px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
@media screen and (max-width: 480px) {
  .timeline > li > .timeline-panel {
    width: 75% !important;
  }
  .timeline > li > .timeline-panel:before {
    top: 30px;
  }
  .timeline > li > .timeline-panel:after {
    top: 31px;
  }
}
.timeline > li > .timeline-badge {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
  width: 160px;
  height: 160px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -80px;
  background-color: #999999;
  z-index: 100;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #d4d4d4;
}
@media screen and (max-width: 480px) {
  .timeline > li > .timeline-badge {
    width: 60px;
    height: 60px;
    margin-left: -20px !important;
  }
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-title {
  color: #a1164c;
  margin-top: 0;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
@media (max-width: 992px) {
  ul.timeline:before {
    left: 90px;
  }
  ul.timeline > li > .timeline-panel {
    width: calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
  }
  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }
  ul.timeline > li > .timeline-panel {
    float: right;
  }
  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}

#about {
  position: relative;
}
#about .part2 .col-md-3 {
  font-weight: 800;
}
.part1, .part2 {
  position: relative;
  padding: 60px 0;
}
.part2 {
  border-top: 1px solid #ddd;
}
.part3 {
  position: relative;
  padding: 20px 0 5px;
  border-bottom: 1px solid #ddd;
}

#contact textarea {
  resize: none;
}
#map {
  margin: 15px 0;
}
@media screen and (max-width: 968px) {
  .part1, .part2 {
    padding: 30px 0;
  }
  #contact #name {
    margin-bottom: 15px;
  }
}

#faq {
  position: relative;
  padding: 0 30px 15px;
}
#faq .accordion .accordion-heading .icon {
  position: absolute;
  top: 8px;
  right: 15px;
  font-size: 18px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
#faq .accordion.active .icon {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#faq .accordion.active .accordion-heading {
  color: #a1164c;
}

#rtp .form-group label {
  margin-right: 15px;
}
#rtp .form-group select {
  width: 100%;
  height: 54px;
  font-size: 18px;
  padding: 0 18px;
  border: 2px solid rgba(0, 0, 0, .1);
  border-radius: 4px;
}
#rtp .form-group select:focus, #rtp .form-group select:active {
  border: 2px solid #a1164c;
}

#login figure {
  height: 400px;
}
#login #for-pwd {
  background: #e9e9e9;
  color: #222; 
}
#login #for-pwd:hover, #login #for-pwd:focus, #login #for-pwd:active {
  background: #1aa0c3;
  color: #fff; 
}
@media screen and (max-width: 968px) {
  #login figure {
    height: auto;
  }
  #login input#password, #login input#for-pwd, #pwd input.btn {
    margin-top: 15px;
  }
}
@media screen and (max-width: 768px) {
  #reg input.mt {
    margin-top: 15px;
  }
}

#spcart #bgt th, #spcart #bgt td {
  text-align: center;
}
#spcart #bgt td:nth-child(2) {
  text-align: center;
}
#spcart #bgt td:nth-child(6) {
  text-align: right;
}
#spcart #bgt td span {
    color: #828282;
    font-weight: bold;
    padding-left: 10px;
}
#spcart #smt td {
  text-align: right;
  border: none;
  color: #a1164c;
  font-weight: 900;
}
#spcart .bg-section {
  padding: 10px;
}
@media (max-width: 968px) {
  #spcart #bgt th, #spcart #bgt td {
    text-align: left !important;
  }
  #spcart #bgt td:nth-child(2) {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .rwd-table {
    min-width: 100%;
  }
  .rwd-table tr.tr-only-hide {
    display: none !important;
  }
  .rwd-table tr{
    display: block;
    margin-top: 5px;
    border-top: 1px solid #ddd;
  }
  .rwd-table td {
    font-size: 15px;
    overflow: hidden;
    width: 100%;
    display: block;
    border: 0 !important;
  }
  .rwd-table td:before {
    content: attr(data-th) " : ";
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 10px;
    color: #333;
  }
  .rwd-table td.last {
    color: #c2000b;
    font-weight: bold;
  }
  .rwd-table td.last:before {
    display: none;
  }
  .rwd-table td:first-child span {
    color: #828282;
    font-weight: bold;
    padding-left: 10px;
  }
}

#payfinal .bm{
  border-bottom: 2px solid #ddd;
  color: #222;
}
#payfinal .bm:hover, #payfinal .bm:focus {
  color: #1e3a6f;
  border-bottom: 2px solid #1e3a6f;
}
#payfinal input[type="radio"] {
  display: none;
}
#payfinal input[type="radio"] + label {
  width: 80%;
  display: inline-block;
  background: #ddd;
  cursor: pointer;
  padding: 7px 10px;
  text-align: center;
  letter-spacing: 1px;
  border-radius: 2px;
}
#payfinal input[type="radio"]:checked + label {
  background: #a1164c;
  color: #fff;
}


ul.heading {
  position: relative;
  border: 1px solid #ddd;
  padding: 5px 10px;
  margin: 10px 0;
}
ul.heading li {
  display: inline-block;
  list-style: none;
  padding-right: 8px;
  margin: 0;
  font-size: 18px;
  color: #222;
}
ul.heading li a {
  color: #222;
}
ul.heading li a:hover {
  color: #1e3a6f;
  text-decoration: underline;
}
@media (max-width: 968px) {
    ul.heading li.line {
    display: none;
  }
}
.right {
  float: right;
}
.pagination > li > a {
  color: #222;
}
input.btn, button.btn {
  width: 100%;
  height: 54px;
  background: #1e3a6f;
  color: #fff;
  letter-spacing: 3px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
input.btn:hover, input.btn:focus, input.btn:active,
button.btn:hover, button.btn:focus, button.btn:active {
  background: #a1164c;
  color: #fff;
}
@media screen and (max-width: 968px) {
  input.btn, button.btn {
    width: 100%;
  }
}

.social-icons {
  margin: 0;
  padding: 0;
}
.social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #a1164c;
  padding-left: 10px;
  padding-right: 10px;
}
.social-icons li a i {
  font-size: 20px;
}


.feature-center {
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  width: 100%;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .feature-center {
    margin-bottom: 50px;
  }
}
.feature-center .desc {
  padding-left: 180px;
}
.feature-center .icon {
  width: 90px;
  height: 90px;
  background: #a1164c;
  display: table;
  text-align: center;
  margin: 0 auto 30px auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.feature-center .icon i {
  display: table-cell;
  vertical-align: middle;
  height: 90px;
  font-size: 40px;
  line-height: 40px;
  color: #fff;
}
.feature-center p, .feature-center h3 {
  margin-bottom: 30px;
}
.feature-center h3 {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 600;
}


.heading {
  margin-bottom: 1em;
}
.heading h2 {
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
}
.heading p {
  font-size: 18px;
  line-height: 1.5;
  color: #828282;
}
/*.heading span {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-family: 'Microsoft JhengHei', "Montserrat", Arial, sans-serif;
}*/

#footer {
  background: #eee;
}
#footer .footer-links {
  padding-left: 20px;
  margin: 0;
}
#footer .footer-links li {
  padding: 0 0 0 2px;
  margin: 0;
  color: #4a4a4a;
}
#footer .footer-links li a {
  color: #4a4a4a;
  padding: 0;
  font-size: 15px;
  text-decoration: none;
}
#footer .footer-links li a:hover {
  text-decoration: none;
}
#footer .widget {
  padding: 10px 40px 30px;
}
#footer h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 2px;
  color: #a1164c;
}
#footer .copyright {
  padding: 20px 40px 0;
  margin-bottom: 10px;
  border-top: 1px solid rgba(0, 0, 0, .15);
}
#footer .copyright p {
  margin-bottom: 0;
  color: rgba(0, 0, 0, .65);
  font-weight: bolder;
}
#footer .copyright .social-icons {
  text-align: right;
  font-size: 33px;
  color: #1e3a6f;
}
#footer .copyright .social-icons li,
#footer .copyright .social-icons i {
  vertical-align: top;
}
@media screen and (max-width: 968px) {
  #footer .copyright {
    margin: 15px 0 10px;
    text-align: center;
  }
  #footer .copyright p {
    margin-bottom: 10px;
  }
  #footer .copyright .social-icons {
    text-align: center !important;
  }
}

#fh5co-offcanvas {
  position: absolute;
  z-index: 1901;
  width: 270px;
  background: #e9e9e9;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 45px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #fh5co-offcanvas {
    display: block;
  }
}
.offcanvas #fh5co-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
#fh5co-offcanvas a {
  color: rgba(30, 58, 111, .7);
  letter-spacing: 3px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#fh5co-offcanvas a:hover {
  color: rgba(30, 58, 111, 1);
  font-weight: bold;
}
#fh5co-offcanvas ul {
  padding: 0;
  margin: 0;
}
#fh5co-offcanvas ul li {
  padding: 10px 0;
  margin: 10px 0;
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, .15);
}
#fh5co-offcanvas ul li ul li {
  border: none;
}
/*
#fh5co-offcanvas ul li.search {
  float: left;
  width: 100%;
  font-family: 'Microsoft JhengHei', "Playfair Display", serif;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 0;
  margin: 5px 0 0 0;
}
#fh5co-offcanvas ul li input[type=text] {
  padding: 6px 10px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 4px;
  background: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#fh5co-offcanvas ul li input[type=text]:focus {
  width: 100%;
  outline: none;
}
#fh5co-offcanvas ul li button {
  margin-top: 4px;
  padding: 6px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-left: 1px;
}
#fh5co-offcanvas ul li button i {
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-offcanvas ul li button:hover, #fh5co-offcanvas ul li button:focus {
  background: transparent !important;
}
#fh5co-offcanvas ul li button:hover i, #fh5co-offcanvas ul li button:focus i {
  color: white;
}
#fh5co-offcanvas ul li.shopping-cart {
  float: left;
}
#fh5co-offcanvas ul li a.cart {
  display: block;
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-offcanvas ul li a.cart span {
  position: relative;
}
#fh5co-offcanvas ul li a.cart span small {
  position: absolute;
  top: -20px;
  right: -15px;
  padding: 10px 6px;
  line-height: 0;
  font-size: 11px;
  background: #a1164c;
  color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}*/
#fh5co-offcanvas ul li > ul {
  padding-left: 20px;
  display: none;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown > a {
  display: block;
  position: relative;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown > a:after {
  position: absolute;
  right: 0px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e921";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown.active a:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.uppercase {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1899;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gototop.active {
  opacity: 1;
  visibility: visible;
}
.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
}

.nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.nav-toggle.active i::before, .nav-toggle.active i::after {
  background: #444;
}
.nav-toggle:hover, .nav-toggle:focus, .nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: #fff;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all .2s ease-out;
}
.nav-toggle i::before, .nav-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
}
.nav-toggle.nav-white > i {
  color: #fff;
  background: #fff;
}
.nav-toggle.nav-white > i::before, .nav-toggle.nav-white > i::after {
  background: #fff;
}
.nav-toggle i::before {
  top: -7px;
}
.nav-toggle i::after {
  bottom: -7px;
}
.nav-toggle:hover i::before {
  top: -10px;
}
.nav-toggle:hover i::after {
  bottom: -10px;
}
.nav-toggle.active i {
  background: transparent;
}
.nav-toggle.active i::before {
  background: #fff;
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.nav-toggle.active i::after {
  background: #fff;
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}
.nav-toggle {
  position: absolute;
  left: 10px;
  top: 1px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .nav-toggle {
    display: block;
  }
}

/* Owl Override Style */
.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0;
}
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 50%;
  margin-top: -29px;
  z-index: 9999;
  position: absolute;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 24%;
}
.owl-carousel-posts .owl-controls .owl-nav .owl-next:before {
  text-indent: 0px !important;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  content: "\e095";
}
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:before {
  text-indent: 0px !important;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  content: "\e094";
}
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: 0px;
}
.owl-carousel .owl-controls .owl-nav .owl-next:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover {
  margin-right: -10px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: 0px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover {
  margin-left: -10px;
}
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: -50px;
}
@media screen and (max-width: 768px) {
  .owl-carousel-posts .owl-controls .owl-nav .owl-next {
    right: 0px;
  }
}
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: -50px;
}
@media screen and (max-width: 768px) {
  .owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    left: 0px;
  }
}
.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
  color: #000;
}
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
  color: #000;
}
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i {
  font-size: 50px;
  color: #fff;
}
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #fff;
}
@media screen and (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 30px;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"] i:focus {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus {
  background: none !important;
}
.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
} 
.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: 0;
  margin-bottom: 40px;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border: 2px solid transparent;
}
.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #fff;
}

#tab_slide {
  position: fixed;
  top: 28%;
  right: 0;
  width: 65px;
  height: 100%;
  z-index:1800;
}
@media screen and (max-width: 768px) {
  #tab_slide {
    width: 65px;
  }
}

#social_tab {
  position:absolute;
  top: 30%;
  right: -65px;
  width: 65px;
  background: #1aa0c3;
  padding: 15px 5px 0;
  -moz-border-radius-top-left: 10px;
  -moz-border-radius-bottom-left: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  z-index:1800;
}
#social_tab li {
  list-style: none;
  margin: 10px;
}
#social_tab li i {
  font-size: 35px;
  color: #fff;
  vertical-align: middle;
}
#social_tab li:hover, #social_tab li:focus, #social_tab li:active {
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: 'Microsoft JhengHei', "Montserrat", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px;
}
.btn.btn-md {
  padding: 8px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-family: 'FontAwesome' !important;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-cc-visa:before {content: "\f1f0";}
.fa-cc-mastercard:before {content: "\f1f1";}
.fa-cc-paypal:before {content: "\f1f4";}
.fa-paypal:before {content: "\f1ed";}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #a1164c;
}

.row-mb-md {
  margin-bottom: 4em !important;
}
.row-mb-sm {
  margin-bottom: 2em !important;
}
.row-pb-lg {
  padding-bottom: 6.5em !important;
}
.row-pb-md {
  padding-bottom: 4em !important;
}
.row-pb-sm {
  padding-bottom: 2em !important;
}

.c-red {
  color: #a1164c;
}
.c-db {
  color: #1e3a6f;
}
.c-aq {
  color: #1aa0c3;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
