.themodal-lock {
	/* when modal is opened we're removing scrollbars from the main content */
	overflow: hidden;
}

.themodal-overlay {
	/* overlay will stay fixed and will take all the space available */
	position: fixed;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	z-index: 1100;

	/* if modal content doesn't fit inside the overlay, display scrollbars */
	overflow: auto;

	/* allow one-finger iPad scrolling */
	-webkit-overflow-scrolling: touch;

}

/* fix for iPad glitches */
.themodal-overlay > * {
	-webkit-transform: translateZ(0px);
}

.themodal-overlay {
	background: rgba(0, 0, 0, 0.5);
	/* IE6–IE8 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #7F000000, endColorstr = #7F000000);
	zoom: 1;
}

.model_title {
	padding:8px 15px;
	font-size:16px;
	color:#000000;
	font-weight:600;
	font-family: "微軟正黑體","新細明體","Adobe 黑体 Std R" ;
	box-sizing:border-box;
}

.more_grey {
	color:#A5A5A5;
	font-size:12px;
	margin-left:5px;
}

.more-large {
	padding:1px 4px 2px 18px;
	margin:4px;
	height:24px;
	width:100px;
	line-height:24px;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-ms-border-radius:15px;
}

.more-large1 {
	padding:5px 4px 5px 18px;
	margin:4px auto;
	height:30px;
	width:100%;
	line-height:18px;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-ms-border-radius:15px;
	box-sizing:border-box;
}

#test-modal2  .more ul.more_info1 .more-large1 {
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-ms-border-radius:15px;
	box-sizing:border-box;
}

#test-modal  .more ul.more_info .input-large1 {
	height:30px;
	width:100%;
	padding:5px 4px 5px 18px;
	line-height:18px;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-ms-border-radius:15px;
	box-sizing:border-box;
}

#test-modal  .more ul.more_info .more-large {
	height:30px;
	width:120px;
	padding:5px 4px 5px 18px;
	line-height:18px;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-ms-border-radius:15px;
	box-sizing:border-box;
}

.more-large2 {
	padding:5px 4px 5px 18px;
	margin:4px 5px 4px 0;
	height:30px;
	width:120px;
	line-height:18px;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-ms-border-radius:15px;
	box-sizing:border-box;
}

#test-modal2  .more ul.more_info1 .more-large2 {
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-ms-border-radius:15px;
	box-sizing:border-box;
}

#test-modal2  .more ul.more_info1 .verifypic , #test-modal  .more ul.more_info .verifypic {
	float:none;
}

#test-modal2  .more ul.more_info1 .vagueBtn , #test-modal  .more ul.more_info .vagueBtn {
	display:inline;
	float:none;
}

.more_main {
	margin:0;
}

.model_man {
	text-align:center;
}

/* modal box style, can be anything you want */
.modal {
    background:#eeeeee;
    margin:200px auto;
    padding:0;
	box-sizing:border-box;
	box-shadow:1px 1px 8px 4px rgba(20%,20%,40%,0.2);
	-moz-box-shadow:1px 1px 8px 4px rgba(20%,20%,40%,0.2);
	-webkit-box-shadow:1px 1px 8px 4px rgba(20%,20%,40%,0.2);
	border:1px solid #787878;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

.modal .close {
	background:#dedede;
    float:right;
    text-decoration: none;
	color:#fff;
    font-size:18px;
	font-family: "微軟正黑體","新細明體","Adobe 黑体 Std R" ;
    cursor: pointer;
	padding:3px 6px 4px;
	margin:0 0 0 30px;
}

.modal .close:hover {
	color:#000;
}

.modal .model_sent {
	margin:0 0 0 15px;
}

.more ul {
	padding:15px;
	box-sizing:border-box;
	font-size:24px;
	font-weight:600;
	font-family: "微軟正黑體","新細明體","Adobe 黑体 Std R" ;
	color:#1c1c1c;
}

.more ul.more_info1 {
	padding:15px 25px 25px;
	box-sizing:border-box;
	font-size:14px;
	font-weight:600;
	font-family: "微軟正黑體","新細明體","Adobe 黑体 Std R" ;
}

.more ul li {
	padding:5px 10px;
}

.more ul li img {
	width:auto;
	margin:0 5px 0 0;
}

.login_title {
	padding:1px 10px 0 30px;
}

.acc_name {
	float:left;
	text-align:right;
	color:#595959;
	font-family:Arial,Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:13px;
	line-height:24px;
	width:60px;
}

.acc_input {
	float:left;
	margin-left:2%;
}

.a_input {
	background:#e4e4e4;
	border:#dbdbdb solid 1px;
	width:240px;
	height:25px;
	color:#8f8f8f;
	font-family:Arial,Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:12px;
	line-height:18px;
}

.forget_name {
	float:left;
	background:url(../images/forget_icon.png) 0 10px no-repeat;
	border-top:#dbdbdb solid 1px;
	width:130px;
	color:#8f8f8f;
	font-family:Arial,Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:12px;
	line-height:16px;
	padding:6px 0 0 15px;
	margin:0 0 0 65px;
}

.forget_name a {
	color:#8f8f8f;
	text-decoration:none;
}

.forget_name a:hover {
	color:#504848;
}

.acc_but {
	float:left;
	background:#504848;
	color:#efefef;
    font-size:15px;
	font-family:Arial,Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    cursor: pointer;
	padding:3px 20px;
	border-radius:5px;
	margin:0 0 0 15px;
}

.acc_but a {
    color:#efefef;
    text-decoration: none;
}


/* modal box style, can be anything you want */
.modal .close2 {
    display:block;
    float:right;
    cursor: pointer;
	width:14px;
	height:14px;
	padding:0;
	margin-top:5px;
	background:url(../images/close_icon.jpg) no-repeat;
}

.modal1 .close2 {
	display:block;
    float:right;
    cursor: pointer;
	width:14px;
	height:14px;
	padding:0;
	margin-top:5px;
	background:url(../images/close_icon.jpg) no-repeat;
}

.modal2 .close2 {
    display:block;
    float:right;
    cursor: pointer;
	width:14px;
	height:14px;
	padding:0;
	margin-top:5px;
	background:url(../images/close_icon.jpg) no-repeat;
}

.modal3 .close2 {
    display:block;
    float:right;
    cursor: pointer;
	width:14px;
	height:14px;
	padding:0;
	margin-top:5px;
	background:url(../images/close_icon.jpg) no-repeat;
}

.modal4 .close2 {
    display:block;
    float:right;
    cursor: pointer;
	width:14px;
	height:14px;
	padding:0;
	margin-top:5px;
	background:url(../images/close_icon.jpg) no-repeat;
}

.modal5 .close2 {
    display:block;
    float:right;
    cursor: pointer;
	width:14px;
	height:14px;
	padding:0;
	margin-top:5px;
	background:url(../images/close_icon.jpg) no-repeat;
}

.modal6 .close2 {
    display:block;
    float:right;
    cursor: pointer;
	width:14px;
	height:14px;
	padding:0;
	margin-top:5px;
	background:url(../images/close_icon.jpg) no-repeat;
}

.more_but {
	width:100%;
	text-align:center;
}

.more_add {
	width:90%;
	text-align:center;
	margin:10px auto 0;
}

.more_add a {
	font-size:15px;
	color:#939393;
	font-weight:600;
	font-family: "微軟正黑體","新細明體","Adobe 黑体 Std R" ;
	margin:0 40px;
}

.more_add a:hover {
	color:#2b994d;
}

/*彈窗表格樣式*/
.dis_mem {
	background:#f9f9f9;
	border-top:1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
}

.dis_mem1 {
	background:#f9f9f9;
	border-bottom:1px solid #DDDDDD;
}

.dis_mem2 {
	border-bottom:1px solid #DDDDDD;
}

.window_info {
	padding:15px;
	box-sizing:border-box;
	font-size:14px;
	font-weight:600;
	font-family: "微軟正黑體","新細明體","Adobe 黑体 Std R" ;
	color:#555555;
}

.window_table {
	margin:0;
	padding:0;
	width:100%;
	font-size:15px; color:#555555;
	font-family: "微軟正黑體","新細明體","Adobe 黑体 Std R" ;
	font-weight:bold;
	box-sizing:border-box;
}

.window_table table, th, td {
   border-top:none;
   border-bottom:2px solid #959595;
   border-left:none;
   border-right:none; 
}

.window_table .tab {
	margin:0;
	padding:0;
	width:100%;
	border-collapse:collapse;
}

.window_table table th {
	background:#5aaac8;
	padding:8px 5px;
	text-align:center;
	font-size:18px; color:#000;
	font-family: "微軟正黑體","新細明體","Adobe 黑体 Std R" ;
	font-weight:bold;
}

.window_table table td {
	padding:8px 5px;
	text-align:inherit;
}

.window_table .tab > tbody > tr:nth-child(even) > td {
	font-size:15px; color:#555555;
	font-family: "微軟正黑體","新細明體","Adobe 黑体 Std R" ;
	font-weight:none;
	background:#c9c9c9;
}

.window_table .tab_tools {
	border-left:#000000 solid 1px;
}

.window_table .last_td {
	background:#fff;
}

.window_input {
	border:#868686 solid 1px; 
	-webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
	margin:0;
	padding:6px;
	font-size:15px; color:#000;
	font-family: "微軟正黑體","新細明體","Adobe 黑体 Std R" ;
	font-weight:bold;
	background:#c9c9c9;
	box-sizing:border-box;
}

.check_css {
	border:#868686 solid 1px;
	background:#c9c9c9;
}

.window_table input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Styling checkbox */
  width: 16px;
  height: 16px;
  background-image:url(../images/checks.png);
}

.window_table input[type="checkbox"]:checked {
  background-image:url(../images/checks_1.png);
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Styling checkbox */
  width: 16px;
  height: 16px;
  background-image:url(../images/rideo.png);
}

input[type="radio"]:checked {
  background-image:url(../images/rideo_1.png);
}

.window_table .tab_li {
	border-bottom:#959595 solid 2px;
}

.window_table .tab_li li {
	float:left;
	margin:0 2px;
	width:22%;
}

.window_table .tab_li1 {
	border-bottom:#959595 solid 2px;
}

/*微調*/
.more_width {width:800px;}
.td_width {width:40%;}
.td_width1 {width:100%;}

.m_width1 {width:700px;}
.m_width {width:300px;}
.m_width2 {width:60px;}

.m_but_width {width:100px;margin-left:20px;}

.m_height {height:300px;}

.m_alltop {margin-top:100px;}

.more_mod {margin-left:-10px;}

.orange_w {
	color:#f55027;
}

.window_table .tab_two tr td:nth-child(1) {
    width:40%;
}

.window_center {
	text-align:center;
}

.window_center tr th {
	background:#5aaac8;
	color:#161616;
	font-size:18px;
}

.w_main {
	float:left;
	margin:5px 0 0 150px;
}

.w_main1 {
	float:left;
	margin:0 0 0 10px;
}

.w_main2 {
	float:left;
	margin:5px 0 0 20px;
}